@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Miniver&family=Nosifer&family=Noto+Sans+Warang+Citi&family=Outfit:wght@100..900&family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Zen+Dots&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    height: 100vh;
}

nav.menu{
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    width: 65px;
    height: 100%;
    background-color: #202020;
    padding: 40px 0 40px 0;
    box-shadow: 3px 0 0 #ff4d00;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    overflow-y: scroll;
    transition: .5s;
}

nav.menu::-webkit-scrollbar {
    width: 0px; 
    background: transparent;
}

    nav.menu.abrir{
    width: 300px;    
}

.expandir{
    width: 100%;
    padding-left: 10px;
}

nav.menu {
    position: relative; 
}

#icone1{
    color: #fff;
    font-size: 40px;
    cursor: pointer;
    margin-left: 0px;
}

i{
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}

ul li.ativo{
    background-color: #ff4d00;
}

ul li.item1 a:hover{
    background-color:#ff4d00;
}

.expandir:hover{
    background-color:#ff4d00;
}

ul li.item1 {
    display: block;
    width: 100%;
}

ul li.item1 a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 5px;
    line-height: 40px;
    width: 100%;
}

ul li.item1 a .link{
    margin-left: 80px;
    opacity: 0;
}

nav.menu.abrir .link{
    margin-left: 40px;
    transition: .5s;
    opacity: 1;
}

ul li.item1 a .icone > i{
    font-size: 30px;
    margin-left: 1px;
    margin-right: 20px;
}

#background {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    z-index: -1; 
}

#banner {
    object-fit: cover;
    position: fixed;
    width: 100%;
    height: 100%;
}

#background{
    overflow: hidden;
    position: fixed;
}

body::-webkit-scrollbar {
    width: 0px;  
    background: transparent; 
}

.lista{
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    list-style: none;
    padding: 10px;
    margin: 0;
    text-align: center;
}

.lista {
    font-size: 70px;
    color: #ffffff;
    margin-bottom: 15px;
}

#overlay {
    color: #2a95f4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(59, 126, 228, 0.1); 
    backdrop-filter: blur(4px); 
    z-index: 1;
}

#quadrado {
    width: 450px;
    height: 450px;
    background-color: #ebebeb;
    border-radius: 55px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: rgba(199, 203, 210, 0.2); 
    backdrop-filter: blur(1px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

h1{
    font-size: 120px;
    font-family: "Bungee", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #ff4d00;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.lista {
    font-family: "Noto Sans", serif;
    list-style: none;
    padding: 0px;
    margin: 0;
    text-align: justify;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 45px;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 0px;
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#listaitem{
    margin-top: 85px;
}

